<nb-card>
    <nb-card-header>Insertar Empleado</nb-card-header>
    <nb-card-body class="table-responsive-xl">
        <ng2-smart-table  class="table-responsive" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (createConfirm)="onCreateConfirm($event)" (editConfirm)="onSaveConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
      <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
      <button nbButton  status="success" (click)="submit()">Agregar</button>
    </nb-card-footer>
  </nb-card>

    